@import "bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


$fontsize-body: calc(16px + 0.4vw);
// $fontsize-body: 16px;

$primary: #C7E0D9;
$grey-1: #D8E0E1;
$grey-2: darken($grey-1,10%);
$tan: #F8F2EA;
$cta: #9A2CAB;

$purple: #9A2CAB;
$near_black: #1a0a05;

$nav-color: $tan;
$nav-color: white;

.primary {background-color: $primary;}
.grey {background-color: $grey-1;}
.primary-text {color: $purple;}
.grey-text {color: $grey-1;}
.visible {border: 1px dotted red;}
.tan {background-color: $tan;}

// @import "font-awesome";
$font_headline: "Domaine Display Narrow";
// $font_headline: "Comic Sans";
$font_body: "EB Garamond", Georgia, "Times New Roman", Times, serif;

body {
	font-size: $fontsize-body;
	font-family: $font_body;
	color: hsla(0, 0%, 40%, 1);
	color: #321414;
	color: #3d0c02;
}


h1, h2, h3, h4, h5, h6 {
	// font-family: "DomaineDisplayNarrow", serif;
	font-family: "Domaine Display Narrow", serif;
  font-weight: 600;
  color: $near_black;
}

$h6: $fontsize-body;
$h5: calc($h6 * 1.1);
$h4: calc($h5 * 1.2);
$h3: calc($h4 * 1.2);
$h2: calc($h3 * 1.5);
$h1: calc($h2 * 1.2);

h6 {font-size: $h6};
h5 {font-size: $h5};
h4 {font-size: $h4};
h3 {font-size: $h3};
h2 {font-size: $h2};
h1 {font-size: $h1};

a:link, a:visited {
	color: $cta;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

button.primary,
a.btn.primary {
	background-color: $cta;
	font-weight: 600;
	border: 0;
	color: white;
	a {
		color: white;
		text-decoration: none;
	}
	&:link, &:visited {
		color: white;
		text-decoration: none;
	}
	&:hover {
		background-color: darken($cta,10%);
		color: white;
		text-decoration: none;
	}
}

#contact-form {
	height: 500px;
	height: 700px;
	// height: 1000px;
}

button.secondary {
	background-color: lighten($cta,40%);
	font-weight: 600;
	// border: 1px dotted red;
	border:0;
	color: $near_black;
	padding: 0.25em 0.5em;
	border-radius: 5px;
	a {
		color: $near_black;
		text-decoration: none;
	}
	&:hover {
		background-color: lighten($cta,30%);
	}
}


nav {
	font-size: calc(24px + 0.5vw);
	font-weight: 700;
	z-index: 2;
	// background-color: white;
	// background-color: $nav-color;
	background-color: hsla(0, 0%, 90%, 0);
	font-family: $font_headline;
	a:link, a:visited {
		font-weight: 600;
		color: $near_black;
	}	
	i {
		font-size: 50px;
	}
  @media only screen and (min-width : $break-md) {
		// background-color: hsla(0, 0%, 90%, 0)
		// background-color: $nav-color;
  }   
}

.autohide {
	position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: rgba($nav-color,0.85);
}
.scrolled-down {
	transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up {
	transform:translateY(0); transition: all 0.3s ease-in-out;
	// background-color: $nav-color;
}

#logo {
	font-family: $font_headline;
	font-size: calc(30px + 0.5vw);
	width: 100px;	
}

#hero {
	background-image: url("../img/bg/tan.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color: gray;
	position: relative;
	top: -100px;
	.superheader {
		font-weight: 800;
		margin-bottom: 13px;
		text-transform: uppercase;
		font-size: calc(12px + 0.2vw);
		letter-spacing: 2px;
		color: $near_black;
	}
	h1 {
		// font-size: clamp(40px, calc(22px + 1.5vw), 60px);
		font-size: calc(40px + 0.6vw);
		line-height: 1.05em;
		color: darken($purple,10%);
	}
	h2 {
		font-size: calc(20px + 0.5vw);
		letter-spacing: 0.0125em;
		font-weight: 500;
	}
}

#hero-img {
	// background-image: url("../img/hero-sq.jpg");
	background-image: url("../img/gallery/gallery-6.jpg");
	background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;	
  overflow: visible;
	height: 50vh;
	// height: 60vh;
	width: 100%;
    @media only screen and (min-width : $break-lg) {
      height: 100%;
    }    
}

.hero-testimonial {
	// @extend .viz;
	.testimonial-content {
		font-size: 16px;
		border-left: 4px solid darken($primary,15%);
		padding: 0.5em 0 0.5em 1em;
		margin-top: 1em;
	}
	.logo-knot {
		width: 30%;
		@media only screen and (min-width : $break-lg) {
			width: 20%;
		}
	}
}

.container-form {
	min-height: 85vh;
	@media only screen and (min-width : $break-lg) {
		padding-top: 1em;
	}
}

video.intro-vid {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.thumbnail-gallery {
	@extend .col-12;
	@extend .col-md-6;
	@extend .col-lg-4;

	img {
		-webkit-transition: all .6s;
		-moz-transition: all .6s;
		-o-transition: all .6s;
		transition: all .6s;
		&:hover {
      // cursor: pointer;
			-webkit-transition: all .6s;
			-moz-transition: all .6s;
			-o-transition: all .6s;
			transition: all .6s;
			scale: 102%;
			border-radius: 10px;
			-moz-box-shadow: 0px 0px 15px 16px hsla(0, 0%, 60%, 0.25);
			-webkit-box-shadow: 0px 0px 15px 16px hsla(0, 0%, 60%, 0.25);
			box-shadow: 0px 0px 15px 16px hsla(0, 0%, 60%, 0.25);
		}
	}
}

.stat {
	font-size: 60px;
	font-family: $font_headline;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0.25rem !important;
	padding-bottom: 0 !important;
	// border: 1px dotted red;
}

footer {
	font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  padding-bottom: 40px;
}

.accordion-header button {
	font-weight: 600;
	font-size: calc(16px + 0.5vw);
}

// HELPER
.viz {
	border: 1px solid pink;
}

.responsive-indicator {
  z-index: 1000;
  // display: none;
  background-color: red;
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 16px;
  padding: 3px 8px;
  a:link, a:visited {
      color: $near_black;
      text-decoration: underline;
  }
}

// ========================
// FONT

/* DomaineDispNar-SemiboldItalic */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: semibold;
  font-style: italic;
  src: url('../fonts/DomaineDispNar-SemiboldItalic.otf') format('opentype');
}

/* DomaineDispNar-Black */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: black;
  font-style: normal;
  src: url('../fonts/DomaineDispNar-Black.otf') format('opentype');
}

/* DomaineDispNar-BlackItalic */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: black;
  font-style: italic;
  src: url('../fonts/DomaineDispNar-BlackItalic.otf') format('opentype');
}

/* DomaineDispNar-Bold */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/DomaineDispNar-Bold.otf') format('opentype');
}

/* DomaineDispNar-BoldItalic */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/DomaineDispNar-BoldItalic.otf') format('opentype');
}

/* DomaineDispNar-Extrabold */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: extrabold;
  font-style: normal;
  src: url('../fonts/DomaineDispNar-Extrabold.otf') format('opentype');
}

/* DomaineDispNar-ExtraboldItalic */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: extrabold;
  font-style: italic;
  src: url('../fonts/DomaineDispNar-ExtraboldItalic.otf') format('opentype');
}

/* DomaineDispNar-Medium */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: medium;
  font-style: normal;
  src: url('../fonts/DomaineDispNar-Medium.otf') format('opentype');
}

/* DomaineDispNar-MediumItalic */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: medium;
  font-style: italic;
  src: url('../fonts/DomaineDispNar-MediumItalic.otf') format('opentype');
}

/* DomaineDispNar-Regular */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/DomaineDispNar-Regular.otf') format('opentype');
}

/* DomaineDispNar-RegularItalic */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/DomaineDispNar-RegularItalic.otf') format('opentype');
}

/* DomaineDispNar-Semibold */
@font-face {
  font-family: 'Domaine Display Narrow';
  font-weight: semibold;
  font-style: normal;
  src: url('../fonts/DomaineDispNar-Semibold.otf') format('opentype');
}
